{{- $data := .Site.Data.pubmed -}}

{{- if not $data -}}
  <span class="pubmed-static-stamp"
        data-pubmed-static="true"
        data-has-data="false"
        style="position:absolute;left:-9999px;width:1px;height:1px;overflow:hidden;">
    pubmed_static
  </span>

  <p><em>Static publications list not available yet. Generate data/pubmed.json.</em></p>

{{- else -}}
  <span class="pubmed-static-stamp"
        data-pubmed-static="true"
        data-has-data="true"
        data-generated-at="{{ $data.generated_at }}"
        data-count="{{ $data.count }}"
        style="position:absolute;left:-9999px;width:1px;height:1px;overflow:hidden;">
    pubmed_static
  </span>

  <div class="pub-static">
    {{- range $i, $p := $data.items -}}
      <div class="pub">
        <a class="pub-title"
           href="{{ $p.pubmed_url }}"
           target="_blank"
           rel="noopener">
          {{ $p.title }}
        </a><br>

        {{- if $p.authors }}
          <span class="pub-authors">{{ delimit $p.authors ", " }}</span><br>
        {{- end }}

        <span class="pub-venue">
          {{ $p.journal }}
          {{- if $p.pubdate }}, {{ $p.pubdate }}{{ end }}
          {{- if $p.volume }}; {{ $p.volume }}{{ end }}
          {{- if $p.issue }}({{ $p.issue }}){{ end }}
          {{- if $p.pages }}: {{ $p.pages }}{{ end }}
        </span><br>

        <a href="{{ $p.pubmed_url }}" target="_blank" rel="noopener">PubMed</a>

        {{- if $p.doi_url }}
          &nbsp;|&nbsp;
          <a href="{{ $p.doi_url }}" target="_blank" rel="noopener">DOI</a>
        {{- end }}
      </div>

      {{- if lt (add $i 1) (len $data.items) -}}
        <br>
      {{- end -}}
    {{- end -}}
  </div>
{{- end -}}
